[requires]
python_version = '3.7'

[packages]
gunicorn = '==19.9.0'
rq-dashboard = '==0.5.3'

[dev-packages]
black = '==19.10b0'
executor = '>= 21.0'
click = '>=7.0'

[pipenv]
allow_prereleases = true
